{% extends 'layout.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block content %}
    <div class="landing">
        <div class="landing-overlay">
            <h1>Soyez récompensé pour vos séances de cinéma</h1>
            <a href="#" class="btn btn-primary">Rejoignez-nous</a>
        </div>
    </div>
{% endblock %}
