@import './core.scss';

// --- Main ---
body{
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $light;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.navbar-primary{
    background-color: $primary!important;

    .navbar-brand{
        font-size: 1.8rem;
        color: $light;
    }
}

footer{
    background-color: $primary;
    color: $light;
    padding: 10px;
    text-align: center;
}

// --- Home ---
.landing{
    width: 100%;
    flex-grow: 1;
    background-image: url( '../images/landing.jpg' );
    background-size: cover;
    background-position: center center;
    position: relative;

    .landing-overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: rgba( 0, 0, 0, 0.4 );

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        color: $light;

        .btn-primary{
            margin-top: 20px;
            font-size: 1.4rem;
        }
    }
}
.form{
    form{
        justify-content: center;
        top:50%;
        left:50%;
        max-width: 450px;
        margin: 50px auto 0 auto;
    }
    .btn-primary{
        margin-left: 100px;
     }
     
     ul{
         list-style: none;
     }
     .errors{
         color: red;
         list-style-type: none;
     }
    
}


